<div class="container">
    <h1 class="text-center">Editing Lense</h1>

    <%= render 'form', lense: @lense %>

    <%= link_to 'Show', @lense, class:'badge badge-warning text-dark' %> |
    <%= link_to 'Back', lenses_path, class: 'badge badge-success text-dark' %>
</div>